{% extends 'templates/master.html' %}

{% block content %}

    <div class="container">
        <div id="homeHeaderTitle">
            <h1 id="home-title">Employee Management System</h1>
        </div>

        <div id="homeBody">
            <p>Welcome to our Employee Management System, your one-stop solution for seamless HR administration. 
                With our user-friendly portal, you can effortlessly access and manage all your employee details 
                in one centralised location.
            </p>
            <p>
                Whether you need to update existing employee information, such as 
                contact details or job titles, or add new team members to your organisation, our platform empowers 
                you to do it all with ease. Say goodbye to the hassle of sifting through paperwork and spreadsheets - 
                our system simplifies the process, ensuring your HR tasks are efficient and well-organised. 
                Make the most of your valuable time and resources while ensuring your workforce information is 
                accurate and up-to-date. 
            </p>
            <p>
                Welcome to a more efficient and streamlined HR experience!
            </p>
            <div id="home-image-container">
                <img src="public/team.jpg" id="team-image">
            </div>
        </div>
    </div>
    

{% endblock %}