{% extends 'templates/master.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ employee.firstName}} {{employee.lastName}}</h1>
        </div>
        <div class="col-md-6" style="align-self: center; text-align: right;">
            <a style="text-decoration: none; font-weight: bold;" href="/employees/delivery">View All Employees</a>
        </div>
    </div>
</div>

{% if employee.id != undefined %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Bank Account Number</th>
            <th scope="col">NI Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ employee.firstName }} {{ employee.lastName }}</td>
            <td>£{{ employee.salary }}</td>
            <td>{{ employee.bankAccountNumber}}</td>
            <td>{{ employee.niNumber }}</td>
        </tr>
    </tbody>
</table>

{% else %}
Could not find an employee with this ID.
{% endif %}

{% endblock %}