{% extends 'templates/master.html' %}

{% block content %}
<div class="header-container">
    <h1 class="main-title">Delivery Employees</h1>
    <h3 class="sub-title">All current Kainoos Softworn employees</h3>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Bank Account #</th>
            <th scope="col">NI #</th>
            <th scope="col">View</th>
        </tr>
    </thead> 
    <tbody>
        {% for employee in deliveryEmployees %}
        <tr>
            <td>{{ employee.firstName }} {{ employee.lastName }}</td>
            <td>£{{ employee.salary }}</td>
            <td>{{ employee.bankAccountNumber}}</td>
            <td>{{ employee.niNumber }}</td>
            <td><a href="/employees/delivery/{{ employee.id }}" class="btn custom-button" role="button">View Employee</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}