{% extends 'templates/master.html' %}

{% block content %}

<div class="header-container"> 
        <a style="text-decoration: none; font-weight: bold; padding-bottom: 20px;" id="nav-cust-link" href="/employees/delivery"><img src="https://cdn-icons-png.flaticon.com/512/271/271220.png" style="height: 15px; margin-right: 8px;">All Employees</a>

        <h1 class="main-title" style="padding-bottom: 10px; margin-top: 20px;">
            {{ employee.firstName }} {{ employee.lastName }} 
        </h1>   
</div>

{% if employee.id != undefined %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Bank Account Number</th>
            <th scope="col">NI Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ employee.firstName }} {{ employee.lastName }}</td>
            <td>£{{ employee.salary }}</td>
            <td>{{ employee.bankAccountNumber}}</td>
            <td>{{ employee.niNumber }}</td>
        </tr>
    </tbody>
</table>

<form action="/employees/delivery/{{ employee.id }}" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

{% else %}
Could not find an employee with this ID.
{% endif %}

{% endblock %}