<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <!-- Nav Start -->
    <br>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark custom-nav center">
          <a href="/" ><img src="/public/kainoos.png" style="width: 140px;"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                {% if token != undefined %}
                  <li class="nav-item active">
                      <a class="nav-link" href="/" id="nav-cust-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/employees/delivery" id="nav-cust-link">Delivery Employee</a>
                  </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav">
                {% if token == undefined %}
                  <li class="nav-item">
                      <a class="nav-link" href="/login" id="nav-cust-link">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn disabled" id="nav-cust-link">Signup</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link"href="/logout" id="nav-cust-link">Logout</a>
                </li>
                {% endif %}
              </ul>
          </div>
      </nav>
      </div>
    <!-- Nav End -->

      <br>
      <div class="main-content center">
        {% block content %} {% endblock %}
      </div>
      <br>
</body>
</html>