
body {
    background-color: black;
    /* background-image:url('https://picsum.photos/3000/3000?random=2'); */
    background-image:url('https://images.unsplash.com/photo-1461749280684-dccba630e2f6?auto=format&fit=crop&q=80&w=2938&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.913);
    height: 90vh;
    width: 70vw;
    overflow-x: hidden;
    overflow-y: auto;
}

#home-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

/* Nav Bar */
.custom-nav {
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.913);
    color: black;
}

.nav-link {
    color: black;
}

.nav-text {
    color: rgb(53, 53, 53);
}

#nav-cust-link {
    color: rgb(53, 53, 53);
}

#nav-cust-link:hover {
    color: rgb(0, 0, 0);
}

#navbarNav {
    margin-left: 70px;
}

#team-image {
    width: 60%;
}

#login-form {
    padding: 0px 50px 0px 50px;
}

.login-titles {
    font-weight: bold;
}

.auth-heading {
    padding-left: 50px;
    margin-bottom: 20px;
}

.custom-button {
    margin-top: 10px;
    background-color: #42B54C;
    color: white;
}

#home-image-container {
    margin-top: 30px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}