
body {
    background-color: black;
    background-image:url('https://picsum.photos/3000/3000?random=2');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.7);
    height: 85vh;
    width: 50vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Nav Bar */
.custom-nav {
    width: 50vw;
    background-color: rgba(220,220,220, 0.9);
    color: black;
}

.nav-link {
    color: black;
}

.nav-text {
    color: rgb(53, 53, 53);
}

#nav-cust-link {
    color: rgb(53, 53, 53);
}

#nav-cust-link:hover {
    color: rgb(0, 0, 0);
}